<footer class="footer bg-dark py-3 mt-auto">
  <div class="container">
    <span class="text-muted">&copy; BYOCamper 2021</span>
  </div>
</footer>

<!-- mt-auto moves footer to bottom of page. to forget to set main body vh100-->